
/* Global Styles */

div {
	display: block;
}

body {
	background-color: #FAFAFA;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}

* {
	box-sizing: border-box;
}

/* Header Styles */

header {
	width: 100%;
	height: 264px;
	background-color: #673AB7;
	border: none;
	top: 0;
	left: 0;
}

header h1 {
	font-weight: 400;
	color: #fff;
	font-size: 34px;
    line-height: 200px;
	margin-left: 40px;
	margin-top: 0;
	margin-bottom: 0;
}

.dark-bottom {
	background-color: rgb(81,45,168);
	width: 100%;
	height: 64px;
	z-index: 100;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.dark-bottom li {
	display: inline;
	line-height: 64px;
	margin-left: 18px;
}

.dark-bottom li:first-child {
	margin-left: 26px;
}

.dark-bottom li a {
	color: rgba(255,255,255,.6);
	text-align: center;
	padding: 0 12px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
}

.dark-bottom li a:hover { 
	color: white;
}

/*
.tab-active {
	height: 4px;
	width: 100%;
	display: block;
	content " ";
	bottom: 0;
	left: 0;
	position: absolute;
	background-color: white;
}
*/

.button-fab  {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    width: 56px;
    padding: 0;
    background-color: rgb(255,64,129);
    color: #fff;
    z-index: 10000;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
	cursor: pointer;
	text-align: center;
	border: 0;
	position: absolute;
    right: 40px;
    top: 235px;
}

.button-fab .material-icons {
	position: absolute;
	top: 16px;
	left: 16px;
}


/* Body Styles */

.modal-card {
	z-index: 1;
	min-height: 200px;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 100px;
  	padding: 0;
  	width: calc(100% - 200px);
  	background-color: white;
  	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.modal-card-text {
	margin: 40px;
	padding: 0;
	width: calc(100% - 200px);
}

.search-form {
	margin-bottom: 30px;
}

#textbox {
	border: none;
	border-bottom: solid 2px  #673AB7;
}

label {
	display: block;
	color: #673AB7;
	font-size: 13px;
	padding-bottom: 8px;
}

::-webkit-input-placeholder {
   font-size: 15px;
}

:-ms-input-placeholder {  
	font-size: 15px;
}

input:focus, button:focus{
	outline:none;
}

.add-btn {
    background-color: rgb(255,64,129);
    color: #fff;
    z-index: 10000;
	cursor: pointer;
	text-align: center;
	border: 0;	
	margin-left: 10px;
	position: relative;
	top: -7px;
  	border-radius: 2px;
  	display: inline-block;
  	height: 36px;
  	line-height: 36px;
  	outline: 0;
  	padding: 0 1.5rem;
  	text-transform: uppercase;
  	vertical-align: middle;
  	-webkit-tap-highlight-color: transparent;
}

.add-btn:hover {
background-color: #FC6E9D;
}

.add-btn .material-icons {
	position: absolute;
	left: 16px;
	top: 16px;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
}


/*
.circle-container {
	width: calc(16.667% - 16px);
	margin: 0;
	float:left;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 0;
	flex-shrink: 1;
}
*/

.entire-list-item {
	display: flex;
	margin-bottom: 20px;
}

.modal-card-text .circle {
	width: 64px;
	height: 64px; 
	border-radius: 32px;
	margin: 8px 0; /* had to increase margin because of vertical margin collapse, couldn't get overflow:hidden to work; */
	background-color: #fff;
	border: 8px solid rgb(103,58,183);
	margin: 0;
	cursor: pointer;
}

.modal-card-text .circle-done {
	width: 64px;
	height: 64px; 
	border-radius: 32px;
	margin: 16px 0; /* had to increase margin because of vertical margin collapse, couldn't get overflow:hidden to work; */
	background-color: rgb(103,58,183);
	margin: 0;
}

.entire-list-item .material-icons{
	color: white;
	font-size: 54px;
	font-weight: 700;
	margin-top: -2px;
	margin-left: -3px;
}

.card-text {
	margin: 0;
  	width: calc(83.33% - 16px);
  	margin-left: 15px;
  	margin-top: -4px;
}

/*
.card-text:not(:last-child) {
	width: 83.33%;
	margin: 0;
	border-bottom: 1px solid rgba(0,0,0,.13);
}
*/

.text-done {
	text-decoration: line-through;
	/* text-decoration-color: rgb(255,64,129); */
}

h4, h5, p {
	color: #616161;
	padding: 0;
}

h5 {
	font-size: 17px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: .02em;
	margin-bottom: 10px;
}

h4 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 32px;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;

}


@media only screen and (max-width: 500px) {


}

/*

* {
	outline: solid 1px red;
}


.body-stuff {
	height: 50px;
	width: 500px;
	background-color: red;
	position: relative;
	z-index: 10000;
}

.container {
  width: 1170px;
}

#nav-bar {
	width: 100%;
	height: 64px;
	background-color: #F5F5F5;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	top: 0;
	left: 0;
	position: relative;
}

