
/* Global Styles */

div {
	display: block;
}

body {
	background-color: #FAFAFA;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}

* {
	box-sizing: border-box;
}

.row {
	height: 64px;
	width: 100%;
	background-color: #673AB7;
}

/* Layout Styles */

header {
	width: 100%;
	height: 264px;
	background-color: #673AB7;
	border: none;
	top: 0;
	left: 0;
	/* why do I have to make it an absolute position to get it to the top */
}

header h1 {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 34px;
    line-height: 200px;
	margin-left: 40px;
	margin-top: 0;
	margin-bottom: 0;
}

.dark-bottom {
	background-color: rgb(81,45,168);
	width: 100%;
	height: 64px;
	z-index: 100;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	display: inline;
	line-height: 64px;
	margin-left: 18px;
}

li a {
	color: rgba(255,255,255,.6);
	text-align: center;
	padding: 0 12px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;

}

a:hover, a:hover { 
	color: white;
}

/*

.tab-active {
	height: 4px;
	width: 100%;
	display: block;
	content " ";
	bottom: 0;
	left: 0;
	position: absolute;
	background-color: white;
}
*/

.menu-container {
	width: 48px;
	height: 48px;
	background: transparent;
	cursor: pointer;
	text-align: center;
	margin: 10px 12px;
	line-height: 50px;
	font-size: 26px; 
	position: absolute;
	/* borrowed from another site, unclear why it works */
}

.menu-container .material-icons{
	color: #767777;
}

.nav-title {
	position: absolute;
	left: 60px;
	top: 10px;
}

.nav-title h1 {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 500;
	color: #000;
	font-size: 20px;
	vertical-align: middle;
}

.button-fab  {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    width: 56px;
    padding: 0;
    background-color: rgb(255,64,129);
    color: #fff;
    z-index: 10000;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
	cursor: pointer;
	text-align: center;
	border: 0;
	position: absolute;
    right: 40px;
    top: 235px;
}

.button-fab .material-icons {
	position: absolute;
	top: 16px;
	left: 16px;

}

.modal-card {
	font-size: 16px;
	font-weight: 400;
	z-index: 1;
	min-height: 200px;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 100px;
  	padding: 0;
  	width: calc(100% - 200px);
  	background-color: white;
  	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.modal-card-text {
	margin: 40px;
	padding: 0;
	width: calc(100% - 200px);
	flex-grow: 1;

}

.circle-container {
	width: calc(16.667% - 16px);
	margin: 0;
	float:left; /* temporary hack for positioning */
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 0;
	flex-shrink: 1;
}

.modal-card-text .circle {
	width: 64px;
	height: 64px; 
	border-radius: 32px;
	margin: 8px 0; /* had to increase margin because of vertical margin collapse, couldn't get overflow:hidden to work; */
	background-color: #fff;
	border: 8px solid rgb(103,58,183);
	margin: 0;
	cursor: pointer;
}

.modal-card-text .circle-done {
	width: 64px;
	height: 64px; 
	border-radius: 32px;
	margin: 16px 0; /* had to increase margin because of vertical margin collapse, couldn't get overflow:hidden to work; */
	background-color: rgb(103,58,183);
	margin: 0;
}

.circle-done .material-icons{
	color: white;
	font-size: 54px;
	font-weight: 700;
	margin-top: 5px;
	margin-left: 5px;
}

.card-text {
	margin: 0;
	flex-grow: 1;
  	flex-shrink: 0;
  	width: calc(83.33% - 16px);
}

/*
.card-text:not(:last-child) {
	width: 83.33%;
	margin: 0;
	border-bottom: 1px solid rgba(0,0,0,.13);
}
*/

.text-done {
	text-decoration: line-through;
	/* text-decoration-color: rgb(255,64,129); */
}

h4, h5, p {
	color: #616161;
	padding: 0;
}

h5 {
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: .02em;
	margin-bottom: 10px;
}

h4 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 32px;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;

}

p {
	font-size: 15px;
	line-height: 1.4;
	letter-spacing: .02em;
	margin-top: 5px;
}

@media only screen and (max-width: 500px) {

}
}

/*

* {
	outline: solid 1px red;
}

.body-stuff {
	height: 50px;
	width: 500px;
	background-color: red;
	position: relative;
	z-index: 10000;
}

.container {
  width: 1170px;
}

#nav-bar {
	width: 100%;
	height: 64px;
	background-color: #F5F5F5;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	top: 0;
	left: 0;
	position: relative;
}

